body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flash {
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

.error {
  background: #ffd6d6;
  color: #900;
}

.success {
  background: #d6ffd9;
  color: #060;
}

.alert {
  animation: slideOut 4s ease-in-out forwards;
}

@keyframes slideOut {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}